.single_Page{
        .page_container_Food_Container{
            background-image: url('../images/images2/D65A04DC-90C4-406D-997F-A00DE97ABFF6-17069-000001BC58C06466.jpg');
        }
        .page_container_Beveragewares{
            background-image: url('../images/images2/AB9FBF9E-FDE7-4E95-8B5E-5F1285C84096-17069-000001BC53752985.jpg');
        }
        .page_container_Food_Container,
        .page_container_Beveragewares{
            height: 100vh;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            .container_overlay{
                display: flex;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.641);
                height: 100%;
                width: 100%;
                .page_text{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
                .page_text button{
                    width: 150px;
                    height: 50px;
                    font-size: 1.2rem;
                    border: 2px solid;
                    background-color: transparent;
                    cursor: pointer;
                    color: white;
                    transition: 0.2s ease-in-out;
                    text-shadow: 1px 1px 1px black,-1px -1px 1px black,1px -1px 1px black;
                }
                .page_text button:hover{
                    background-color: rgb(68, 0, 255);
                }
                .page_text h1, p{
                    color: white;
                    text-shadow: 1px 1px 1px black,-1px 1px 1px black, 1px -1px 1px black,-1px -1px 1px black;
                }
            }
        }
}

@media screen and (min-width:780px) {
    .single_Page{
        .page_container_Food_Container,
        .page_container_Beveragewares{
            .container_overlay{
                align-items: center;
                .page_text{
                    margin-left: 20vw;
                    width: 600px;
                }
                .page_text h1{
                    font-size: 2.4rem;

                }
                .page_text p{
                    font-size: 1.8rem;
                }
            }
        }
    }
}

@media screen and (max-width:780px) and (min-width:550px) {
    .single_Page{
        .page_container_Food_Container,
        .page_container_Beveragewares{
            .container_overlay{
                align-items: center;
                .page_text{
                    margin-left: 50px;
                    width: 400px;
                }
                .page_text h1{
                    font-size: 2rem;

                }
                .page_text p{
                    font-size: 1.4rem;
                }
            }
        }
}
}

@media screen and (max-width:550px) {
    .single_Page{
        .page_container_Food_Container,
        .page_container_Beveragewares{
            .container_overlay{
                align-items: center;
                justify-content: center;
                .page_text{
                    width: 300px;
                }
                .page_text h1, p{
                    
                }
            }
        }
    }
}