body{
    width: 100%;
}

.foodcontainer_overlay{
    background-color: rgba(0, 0, 0, 0.2);
    height: 100%;
}
.foodcontainer_Content{
    background-image: url("../../../images/images2/2FF747D4-0ED6-4ED4-92FC-F376688E5C3A-53093-00000F705E4BC7F6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.foodcontainer_text{
    display: flex;
    height: 100%;
    position: relative;
    align-items: center;
    margin-left: 100px;
}
.foodcontainer_Content h1{
    color: white;
    text-shadow: 5px 5px 5px black;
}

@media screen and (min-width:769px) {
    .foodcontainer_Content h1{
        font-size: 4rem;
    }
}

@media screen and (max-width:768px) {
    .foodcontainer_Content h1{
        font-size: 3rem;
    }
}

@media screen and (max-width:450px) {
    .foodcontainer_text{
        justify-content: center;
        left: 0;
    }
    .foodcontainer_Content h1{
        font-size: 2rem;
    }
}